@charset "utf-8";

@font-face {
    font-family: Akzidenz;
    src: url(Akzidenz-grotesk-r-extended-light.ttf);
}

/*
@font-face {
    font-family: BigShoulders;
    src: url(BigShouldersStencilDisplay-ExtraBold.ttf);
}
*/

/*

Linguaphilia Styles Sheet

Author: John Albright
Date Started: October 12, 2020
Filename: linguaphilia_styles.css

    This file contains the printer styles used with the Linguaphilia
    page on articles of interest

*/

/* General Page Styles */

@page {
    size: 8.5in 11in;
    margin: 11in;
}

footer, nav.horizontalNavigation, table#mobileTable {
    display: none;
}

/* Image Styles */

img.banner {
    filter: opacity(50%);
}

img.resize {
    display: block;
    width: 50%;
    float: left;
    margin: 0.35in;
}

figure.pageFigures img, figure.floatedFigures img {
    display: block;
    width: 50%;
    margin: 0.2in auto;
    filter: opacity(50%);
}

img {
    border: solid 1px gray; 
}

img, table, form {
    page-break-inside: avoid;
}

/* Text Styles */

.centered > a {
    font-family: Akzidenz, Optima, Verdana, sans-serif;
    font-size: 1.0in; 
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 28pt; 
    line-height: 30pt;
    margin: 0.3in 0in 0.2in;
}

figcaption {
    text-align: center;
    font-size: 0.8em;
}

p {
    widows: 4;
    orphans: 4;
}

/* Hypertext Styles */

a.pageLinks {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

a.pageLinks::after {
    content: " (link: " attr(href) ") ";
    font-style: italic;
}

/* Table Styles */

table.personalPronouns {
    border-collapse: collapse;
}

table th, table td {
    border: 1px solid gray;
    padding: 5px;
}

table caption {
    font-weight: bold;
    font-size: 1.2em;
}